/* No CSS */ /*# sourceMappingURL=main.css.map */
@import "./_variables.scss";
@import "./_mixins.scss";
@import "./_placeholder.scss";

/* loader */
.loader {
  background-color: #000000a1;
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hide-loader 0s ease-in 2s forwards;
  animation-duration: 2s;
  &__heart {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heart > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(1px);
    flex-direction: column;
    animation: pulse 0.8s infinite;
  }
  > div:last-child {
    color: $white;
    font-weight: bold;
    font-size: 20px;
  }
}

.pulsingheart {
  position: relative;
  width: 100px;
  height: 90px;
}

.pulsingheart:before,
.pulsingheart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  animation: pulsecolor 0.8s infinite;
  background: $primary-color;
}

.pulsingheart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  animation: pulsecolor 0.8s infinite;
}

@keyframes pulse {
  10% {
    transform: scale(1.2);
  }
}

@keyframes pulsecolor {
  10% {
    @extend .gradiant;
  }
}

@keyframes hide-loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

/* menu_item animation in restaurants page */
.menu__item {
  @include items-shows-delay();
}

.menu__selector {
  width: 0;
  background-color: $third-color;
  align-items: center;
  display: flex;
  justify-content: center;
  color: $white;
  border-top-right-radius: 1.1rem;
  border-bottom-right-radius: 1.1rem;

  i {
    visibility: hidden;
    transform: rotate(0deg);
  }
}

.menu__item:hover .menu__selector {
  width: 70px;
  transition: all 0.7s ease-out;

  i {
    visibility: visible;
    transition: all 0.4s ease-in-out;
    transform: rotate(360deg);
  }
}

/* hearts animation */
.hearts {
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  > * {
    position: absolute;
    transition: all 0.4s;
  }
  > i:nth-child(2) {
    font-size: 0;
    background: linear-gradient(
      to bottom,
      $primary-color 0%,
      $secondary-color 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &:hover {
    i:nth-child(2) {
      font-size: 28px;
    }
  }
}
