@import "./_variables.scss";
@import "./_mixins.scss";
@import "./_placeholder.scss";

.section {
  position: relative;
  margin: 0 auto;
  &__header {
    text-align: center;
    padding: 2rem;
  }
  &__item {
    padding: 2rem;
    &--gray {
      background-color: $bg-color;
    }
  }
}

.text {
  white-space: nowrap;
  @extend .base-font;
  margin: 1rem;
  &--xl {
    font-size: 4rem;
    font-weight: 800;
    @include media-queries-max(767px) {
      font-size: 1.6rem;
    }
  }
  &--m {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2rem;
    @include media-queries-max(767px) {
      line-height: 1rem;
      font-size: 1rem;
    }
  }
  &--rubrique {
    font-size: 1.6rem;
    font-weight: 800;
    @include media-queries-max(767px) {
      font-size: 1.4rem;
    }
  }
  &--bold {
    font-weight: 800;
  }
}

.section__wrapper--gray {
  background-color: $bg-color;
}

.steps-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 0;
  @include media-queries-max(767px) {
    flex-direction: column;
    padding: 2rem;
    margin: 0;
  }
  &__number {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    top: -15px;
    color: $white;
    font-weight: 800;
    border-radius: 2.5rem;
    width: 30px;
    height: 30px;
    @include media-queries-max(767px) {
      left: -15px;
      top: 37%;
      width: 25px;
      height: 25px;
    }
  }
  &__step {
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    padding: 3rem 0;
    background-color: $bg-color;
    border-radius: 1.5rem;
    width: 30%;
    transition: all 0.2s;
    @extend .low-shadow;

    &:hover {
      background-color: rgba($primary-color, 0.2);
      i {
        color: $primary-color;
      }
    }

    @include media-queries-max(767px) {
      width: 100%;
      padding: 2rem 0;
      margin-bottom: 1rem;
    }
  }
  &__content {
    div {
      margin-top: 1rem;
    }
    i {
      color: gray;
      transition: all 0.2s;
    }

    @include media-queries-max(767px) {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      margin-left: 40px;
      div {
        margin: 0;
      }
      i {
        margin-right: 30px;
        font-size: 20px;
      }
    }
  }
}

.shops-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  a {
    display: contents;
    transition: all 0.2s;
  }
  @include media-queries-max(767px) {
    flex-direction: column;
  }
  &__label {
    position: absolute;
    background-color: $third-color;
    right: 15px;
    top: 15px;
    color: darken($third-color, 50%);
    border-radius: 6px;
    padding: 6px 12px;
  }
  &__shop {
    margin: 0.7rem;
    position: relative;
    text-align: center;
    background-color: $white;
    border-radius: 1.5rem;
    width: 30%;
    text-align: initial;
    height: 300px;
    @extend .low-shadow;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.08);
    }
    @include media-queries-max(767px) {
      width: 100%;
      margin: 0 0 1rem 0;
    }
  }
  &__img {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    z-index: 2;
    width: 100%;
    height: 70%;
    object-fit: cover;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    line-height: 12px;
  }
}
