@import "./_mixins.scss";
@import "./_placeholder.scss";

/* all common component reused in all website pages */

* {
  @extend .base-font;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;

  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  i {
    margin-right: 1rem;
  }
  @extend .base-font;
  @include media-queries-max(767px) {
    margin: 2rem 0;
    flex-direction: column;
    margin-bottom: 0;
    div:first-child,
    .geolocation {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 42px 7px 0px #60606091;
    }
    .geolocation {
      background-color: darken($bg-color, 15%);
      height: 50px;
      margin-top: 1rem;
    }
  }

  .logo {
    height: 30px;
  }
}

.purple-btn {
  color: $white;
  font-weight: bold;
  border: none;
  padding: 1rem 3rem;
  border-radius: 2rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1rem 0;
  @extend .base-font;
  @extend .low-shadow;
  @extend .gradiant;
  &:hover {
    @extend .high-shadow;
    filter: brightness(120%);
  }
}

footer {
  padding: 3rem;
  background-color: $bg-footer;
  color: $white;
  line-height: 25px;
  i {
    margin-right: 10px;
    width: 15px;
  }
  img {
    filter: brightness(0) invert(1);
    margin: 1rem 0;
  }
}
