@mixin media-queries-max($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin items-shows-delay() {
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation: fadein (#{$i * 0.4s});
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
