.base-font {
  font-family: "Roboto", sans-serif;
}

.menu-font {
  font-family: "Shrikhand", cursive;
}

.gradiant {
  background: linear-gradient(180deg, $secondary-color 0%, $primary-color 100%);
}

.low-shadow {
  box-shadow: -2px 0px 26px 0px rgba(80, 80, 80, 0.34);
}

.high-shadow {
  box-shadow: -2px 0px 26px 10px rgba(13, 13, 13, 0.34);
}
