@import "./_placeholder.scss";
@import "./_mixins.scss";

.restaurants {
  nav {
    justify-content: center;
    @include media-queries-max(767px) {
      margin: 1rem !important;
    }
    a {
      position: absolute;
      left: 20px;
    }
  }

  .container {
    background-color: $bg-color;
  }
}

.section__bagckground {
  img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    @include media-queries-max(767px) {
      height: 40vh;
    }
  }
}

.menu {
  background-color: $bg-color;
  border-radius: 2rem;
  height: 100%;
  transform: translateY(-4rem);
  padding: 1rem;

  .text {
    margin: 1rem 0;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.8rem;
  }

  &__category {
    padding: 0 0.8rem;
    margin-bottom: 2rem;
    > p:first-child {
      margin: 10px;
      text-transform: uppercase;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 10px;
        width: 3%;
        border-bottom: solid $third-color 3px;
        @include media-queries-max(767px) {
          width: 10%;
        }
      }
    }
  }

  &__items {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    cursor: pointer;
    background-color: $white;
    border-radius: 1.1rem;
    margin: 10px;
    width: 47%;
    display: flex;
    overflow: hidden;

    span,
    b:nth-child(1) {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: block;
    }

    @extend .low-shadow;

    @include media-queries-max(767px) {
      width: 100%;
      margin: 10px 0;
    }

    > div:first-child {
      flex-grow: 1;
      padding: 1rem;
      width: 80%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__details {
    justify-content: space-between;
    display: flex;
  }

  &__btn {
    display: flex;
    margin-bottom: 1rem;
    * {
      margin: 0 auto;
    }
  }

  .text {
    &--menu {
      @extend .menu-font;
      font-size: 2rem;
      @include media-queries-max(767px) {
        font-size: 1.4rem;
      }
    }
  }
}
