/* No CSS */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.base-font, .text, *, nav, .purple-btn {
  font-family: "Roboto", sans-serif;
}

.menu-font, .menu .text--menu {
  font-family: "Shrikhand", cursive;
}

.gradiant, .purple-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
}

.low-shadow, .steps-wrapper__step, .shops-wrapper__shop, .purple-btn, .menu__item {
  -webkit-box-shadow: -2px 0px 26px 0px rgba(80, 80, 80, 0.34);
          box-shadow: -2px 0px 26px 0px rgba(80, 80, 80, 0.34);
}

.high-shadow, .purple-btn:hover {
  -webkit-box-shadow: -2px 0px 26px 10px rgba(13, 13, 13, 0.34);
          box-shadow: -2px 0px 26px 10px rgba(13, 13, 13, 0.34);
}

/* loader */
.loader {
  background-color: #000000a1;
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: hide-loader 0s ease-in 2s forwards;
          animation: hide-loader 0s ease-in 2s forwards;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.loader__heart {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader__heart > div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: pulse 0.8s infinite;
          animation: pulse 0.8s infinite;
}

.loader > div:last-child {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.pulsingheart {
  position: relative;
  width: 100px;
  height: 90px;
}

.pulsingheart:before,
.pulsingheart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-animation: pulsecolor 0.8s infinite;
          animation: pulsecolor 0.8s infinite;
  background: #9356dc;
}

.pulsingheart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-animation: pulsecolor 0.8s infinite;
          animation: pulsecolor 0.8s infinite;
}

@-webkit-keyframes pulse {
  10% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes pulse {
  10% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes pulsecolor {
  10% {
  }
}

@keyframes pulsecolor {
  10% {
  }
}

@-webkit-keyframes hide-loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@keyframes hide-loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

/* menu_item animation in restaurants page */
.menu__item:nth-child(1) {
  -webkit-animation: fadein 0.4s;
          animation: fadein 0.4s;
}

.menu__item:nth-child(2) {
  -webkit-animation: fadein 0.8s;
          animation: fadein 0.8s;
}

.menu__item:nth-child(3) {
  -webkit-animation: fadein 1.2s;
          animation: fadein 1.2s;
}

.menu__item:nth-child(4) {
  -webkit-animation: fadein 1.6s;
          animation: fadein 1.6s;
}

.menu__item:nth-child(5) {
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

.menu__item:nth-child(6) {
  -webkit-animation: fadein 2.4s;
          animation: fadein 2.4s;
}

.menu__item:nth-child(7) {
  -webkit-animation: fadein 2.8s;
          animation: fadein 2.8s;
}

.menu__item:nth-child(8) {
  -webkit-animation: fadein 3.2s;
          animation: fadein 3.2s;
}

.menu__item:nth-child(9) {
  -webkit-animation: fadein 3.6s;
          animation: fadein 3.6s;
}

.menu__item:nth-child(10) {
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
}

.menu__item:nth-child(11) {
  -webkit-animation: fadein 4.4s;
          animation: fadein 4.4s;
}

.menu__item:nth-child(12) {
  -webkit-animation: fadein 4.8s;
          animation: fadein 4.8s;
}

.menu__item:nth-child(13) {
  -webkit-animation: fadein 5.2s;
          animation: fadein 5.2s;
}

.menu__item:nth-child(14) {
  -webkit-animation: fadein 5.6s;
          animation: fadein 5.6s;
}

.menu__item:nth-child(15) {
  -webkit-animation: fadein 6s;
          animation: fadein 6s;
}

.menu__item:nth-child(16) {
  -webkit-animation: fadein 6.4s;
          animation: fadein 6.4s;
}

.menu__item:nth-child(17) {
  -webkit-animation: fadein 6.8s;
          animation: fadein 6.8s;
}

.menu__item:nth-child(18) {
  -webkit-animation: fadein 7.2s;
          animation: fadein 7.2s;
}

.menu__item:nth-child(19) {
  -webkit-animation: fadein 7.6s;
          animation: fadein 7.6s;
}

.menu__item:nth-child(20) {
  -webkit-animation: fadein 8s;
          animation: fadein 8s;
}

.menu__selector {
  width: 0;
  background-color: #99e2d0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-top-right-radius: 1.1rem;
  border-bottom-right-radius: 1.1rem;
}

.menu__selector i {
  visibility: hidden;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu__item:hover .menu__selector {
  width: 70px;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.menu__item:hover .menu__selector i {
  visibility: visible;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* hearts animation */
.hearts {
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hearts > * {
  position: absolute;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.hearts > i:nth-child(2) {
  font-size: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hearts:hover i:nth-child(2) {
  font-size: 28px;
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.base-font, .text, *, nav, .purple-btn {
  font-family: "Roboto", sans-serif;
}

.menu-font, .menu .text--menu {
  font-family: "Shrikhand", cursive;
}

.gradiant, .purple-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
}

.low-shadow, .steps-wrapper__step, .shops-wrapper__shop, .purple-btn, .menu__item {
  -webkit-box-shadow: -2px 0px 26px 0px rgba(80, 80, 80, 0.34);
          box-shadow: -2px 0px 26px 0px rgba(80, 80, 80, 0.34);
}

.high-shadow, .purple-btn:hover {
  -webkit-box-shadow: -2px 0px 26px 10px rgba(13, 13, 13, 0.34);
          box-shadow: -2px 0px 26px 10px rgba(13, 13, 13, 0.34);
}

.section {
  position: relative;
  margin: 0 auto;
}

.section__header {
  text-align: center;
  padding: 2rem;
}

.section__item {
  padding: 2rem;
}

.section__item--gray {
  background-color: #f5f5f5;
}

.text {
  white-space: nowrap;
  margin: 1rem;
}

.text--xl {
  font-size: 4rem;
  font-weight: 800;
}

@media (max-width: 767px) {
  .text--xl {
    font-size: 1.6rem;
  }
}

.text--m {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2rem;
}

@media (max-width: 767px) {
  .text--m {
    line-height: 1rem;
    font-size: 1rem;
  }
}

.text--rubrique {
  font-size: 1.6rem;
  font-weight: 800;
}

@media (max-width: 767px) {
  .text--rubrique {
    font-size: 1.4rem;
  }
}

.text--bold {
  font-weight: 800;
}

.section__wrapper--gray {
  background-color: #f5f5f5;
}

.steps-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 3rem 0;
}

@media (max-width: 767px) {
  .steps-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
    margin: 0;
  }
}

.steps-wrapper__number {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9356dc;
  top: -15px;
  color: #fff;
  font-weight: 800;
  border-radius: 2.5rem;
  width: 30px;
  height: 30px;
}

@media (max-width: 767px) {
  .steps-wrapper__number {
    left: -15px;
    top: 37%;
    width: 25px;
    height: 25px;
  }
}

.steps-wrapper__step {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
  padding: 3rem 0;
  background-color: #f5f5f5;
  border-radius: 1.5rem;
  width: 30%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.steps-wrapper__step:hover {
  background-color: rgba(147, 86, 220, 0.2);
}

.steps-wrapper__step:hover i {
  color: #9356dc;
}

@media (max-width: 767px) {
  .steps-wrapper__step {
    width: 100%;
    padding: 2rem 0;
    margin-bottom: 1rem;
  }
}

.steps-wrapper__content div {
  margin-top: 1rem;
}

.steps-wrapper__content i {
  color: gray;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 767px) {
  .steps-wrapper__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 40px;
  }
  .steps-wrapper__content div {
    margin: 0;
  }
  .steps-wrapper__content i {
    margin-right: 30px;
    font-size: 20px;
  }
}

.shops-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 0;
}

.shops-wrapper a {
  display: contents;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 767px) {
  .shops-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.shops-wrapper__label {
  position: absolute;
  background-color: #99e2d0;
  right: 15px;
  top: 15px;
  color: #1b6150;
  border-radius: 6px;
  padding: 6px 12px;
}

.shops-wrapper__shop {
  margin: 0.7rem;
  position: relative;
  text-align: center;
  background-color: #fff;
  border-radius: 1.5rem;
  width: 30%;
  text-align: initial;
  height: 300px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.shops-wrapper__shop:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

@media (max-width: 767px) {
  .shops-wrapper__shop {
    width: 100%;
    margin: 0 0 1rem 0;
  }
}

.shops-wrapper__img {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  z-index: 2;
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shops-wrapper__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  line-height: 12px;
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.base-font, .text, *, nav, .purple-btn {
  font-family: "Roboto", sans-serif;
}

.menu-font, .menu .text--menu {
  font-family: "Shrikhand", cursive;
}

.gradiant, .purple-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
}

.low-shadow, .steps-wrapper__step, .shops-wrapper__shop, .purple-btn, .menu__item {
  -webkit-box-shadow: -2px 0px 26px 0px rgba(80, 80, 80, 0.34);
          box-shadow: -2px 0px 26px 0px rgba(80, 80, 80, 0.34);
}

.high-shadow, .purple-btn:hover {
  -webkit-box-shadow: -2px 0px 26px 10px rgba(13, 13, 13, 0.34);
          box-shadow: -2px 0px 26px 10px rgba(13, 13, 13, 0.34);
}

/* all common component reused in all website pages */
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

body .container {
  margin: 0 auto;
  max-width: 1200px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
}

nav i {
  margin-right: 1rem;
}

@media (max-width: 767px) {
  nav {
    margin: 2rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  nav div:first-child,
  nav .geolocation {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 42px 7px 0px #60606091;
            box-shadow: 0px 42px 7px 0px #60606091;
  }
  nav .geolocation {
    background-color: #cfcfcf;
    height: 50px;
    margin-top: 1rem;
  }
}

nav .logo {
  height: 30px;
}

.purple-btn {
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 1rem 3rem;
  border-radius: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1rem 0;
}

.purple-btn:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

footer {
  padding: 3rem;
  background-color: #353535;
  color: #fff;
  line-height: 25px;
}

footer i {
  margin-right: 10px;
  width: 15px;
}

footer img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  margin: 1rem 0;
}

.base-font, .text, *, nav, .purple-btn {
  font-family: "Roboto", sans-serif;
}

.menu-font, .menu .text--menu {
  font-family: "Shrikhand", cursive;
}

.gradiant, .purple-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
}

.low-shadow, .steps-wrapper__step, .shops-wrapper__shop, .purple-btn, .menu__item {
  -webkit-box-shadow: -2px 0px 26px 0px rgba(80, 80, 80, 0.34);
          box-shadow: -2px 0px 26px 0px rgba(80, 80, 80, 0.34);
}

.high-shadow, .purple-btn:hover {
  -webkit-box-shadow: -2px 0px 26px 10px rgba(13, 13, 13, 0.34);
          box-shadow: -2px 0px 26px 10px rgba(13, 13, 13, 0.34);
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.restaurants nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .restaurants nav {
    margin: 1rem !important;
  }
}

.restaurants nav a {
  position: absolute;
  left: 20px;
}

.restaurants .container {
  background-color: #f5f5f5;
}

.section__bagckground img {
  height: 60vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .section__bagckground img {
    height: 40vh;
  }
}

.menu {
  background-color: #f5f5f5;
  border-radius: 2rem;
  height: 100%;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
  padding: 1rem;
}

.menu .text {
  margin: 1rem 0;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.8rem;
}

.menu__category {
  padding: 0 0.8rem;
  margin-bottom: 2rem;
}

.menu__category > p:first-child {
  margin: 10px;
  text-transform: uppercase;
  position: relative;
}

.menu__category > p:first-child::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 10px;
  width: 3%;
  border-bottom: solid #99e2d0 3px;
}

@media (max-width: 767px) {
  .menu__category > p:first-child::after {
    width: 10%;
  }
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  cursor: pointer;
  background-color: #fff;
  border-radius: 1.1rem;
  margin: 10px;
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.menu__item span,
.menu__item b:nth-child(1) {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

@media (max-width: 767px) {
  .menu__item {
    width: 100%;
    margin: 10px 0;
  }
}

.menu__item > div:first-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__details {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.menu__btn * {
  margin: 0 auto;
}

.menu .text--menu {
  font-size: 2rem;
}

@media (max-width: 767px) {
  .menu .text--menu {
    font-size: 1.4rem;
  }
}

.base-font, .text, *, nav, .purple-btn {
  font-family: "Roboto", sans-serif;
}

.menu-font, .menu .text--menu {
  font-family: "Shrikhand", cursive;
}

.gradiant, .purple-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
}

.low-shadow, .steps-wrapper__step, .shops-wrapper__shop, .purple-btn, .menu__item {
  -webkit-box-shadow: -2px 0px 26px 0px rgba(80, 80, 80, 0.34);
          box-shadow: -2px 0px 26px 0px rgba(80, 80, 80, 0.34);
}

.high-shadow, .purple-btn:hover {
  -webkit-box-shadow: -2px 0px 26px 10px rgba(13, 13, 13, 0.34);
          box-shadow: -2px 0px 26px 10px rgba(13, 13, 13, 0.34);
}
/*# sourceMappingURL=main.css.map */